body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #f5f5f5;
  text-align: center;
}

header {
  padding: 20px;
  background: #212121;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.task-block {
  margin: 30px auto;
  width: 80%;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 15px;
}

.box {
  width: 300px;
  padding: 20px;
  background: #333;
  margin: 10px auto;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#logo {
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #1e88e5, #0d47a1);
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 80px;
}



body {
  font-family: "Segoe UI", sans-serif;
  background: #121212;
  color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 25px;
  background: #1E1E1E;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
}


#logo {
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #007bff, #003680);
  color: white;
  position: absolute;
  top: 400px;
  left: 10%;
  font-weight: bold;
  font-size: 24px;
  border-radius: 20px;
  opacity: 0.9;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}


.btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 300px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #2979ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}
button:hover {
  background: #1a73e8;
}

#stopAnim {
  background: #ff5252;
}
#stopAnim:hover {
  background: #ff1744;
}
